
@mixin flex-center {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @media (max-width: 950px) {
        flex-direction: column;
    }
}


@mixin tag {    
    background-color: #F0ECF5;
    width: fit-content;
    padding: .4rem .7rem;
    border-radius: .5rem;
}