@import url(https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap);

:root {
    --primary: #fcda97;
}

body, html {
    max-height: 100%;
    min-width: 400px;
    scroll-behavior: smooth;
    margin: 0;
    font-family: Muli,sans-serif;
}

a{ color: inherit;}
a:hover{ color: inherit;}

h1 {
    font-weight: 700;
    margin-bottom: 25px;
}

/* ------------------------------------------------*/
/* --------- Parts Division (left/right) --------- */
/* ------------------------------------------------*/

.left__part { /* Details/Porfile part */
    width: 100%;
    min-height: 100vh;
    float: right;
    position: relative;
    background-color: #fff;
    padding-right: 250px;    
}

.right__part {  /* Menu part */
    width: 250px;
    height: 100vh;
    right: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 40px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* ------------------------------------------------*/
/* ----------------- Profile IMG ----------------- */
/* ------------------------------------------------*/
.profile {
    width: 300px;
    height: 300px;
}
.profile img{
    width: 300px;
    border-radius: 60%;
}
  
.profile-mask {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-100 -100 200 200' preserveAspectRatio='none'%3E%3Cpath d='M56.4,-46.7C68,-30.3,69,-7.2,63.4,13.3C57.8,33.7,45.5,51.4,29,58.6C12.6,65.9,-8.1,62.8,-26.6,54.3C-45.1,45.7,-61.5,31.8,-66.4,14.1C-71.3,-3.6,-64.8,-25,-51.8,-41.7C-38.8,-58.4,-19.4,-70.4,1.5,-71.5C22.3,-72.7,44.7,-63.1,56.4,-46.7Z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-100 -100 200 200' preserveAspectRatio='none'%3E%3Cpath d='M56.4,-46.7C68,-30.3,69,-7.2,63.4,13.3C57.8,33.7,45.5,51.4,29,58.6C12.6,65.9,-8.1,62.8,-26.6,54.3C-45.1,45.7,-61.5,31.8,-66.4,14.1C-71.3,-3.6,-64.8,-25,-51.8,-41.7C-38.8,-58.4,-19.4,-70.4,1.5,-71.5C22.3,-72.7,44.7,-63.1,56.4,-46.7Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
}

.profile-mask { 
    animation: clip-rotate 25s linear infinite; /* --- animation for the mask --- */
}
.profile img{
    animation: clip-rotate2 25s linear infinite, fadein 4s; /* --- animation for the img --- */
}
  
/* ----------------------------------------------------*/
/* ----------------- Profile Details ----------------- */
/* ----------------------------------------------------*/
.left_content, .profile_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_content {
    text-align: center;
    min-height: 100vh;
}
.profile_content {
    text-align: left;
    padding-right: 50px;
}
.profile_details {
    max-width: 500px;
    margin-left: 15px;
}
.profile_details h5{
    line-height: 1.5;
}

/* ----------- Details -- Social Icons ----------- */
.icon_social {
    display: flex;
    justify-content: start;
}
.icon_social .bx {
    border-radius: 8px;
    padding: 7px;
    background-color: white;
    margin: 10px;
    cursor: pointer;

    box-shadow:0px 0px 10px 30px var(--primary) inset;
    transition: all .3s cubic-bezier(.79,.14,.15,.86);
}
/* hover effect on social icons */
.icon_social .bx:hover {
    box-shadow: 0px 0px 0px 3px var(--primary) inset;
    transform: scale(1.1); 
}

.icon_social a:nth-child(1) > .bx {
    margin-left: 0;
}
.icon_social a:nth-child(5) > .bx {
    margin-right: 0;
}





/* ----------------------------------------------------*/
/* ------------------- Menu Itens -------------------- */
/* ----------------------------------------------------*/
.right_content {
    /* text-align: right; */
    width: 100%;
    float: left;
}
.right_content .menu_itens ul {
    margin: 0;
    list-style-type: none;
    padding: 0;    
}
.right_content .menu_itens ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: right;
}
.right_content .menu_itens li {
    padding: 14px  24px;
    border-radius: 10px;
    margin: 12px 0;    
    cursor: pointer;
    /* for hover effect */
    background-color: var(--primary);
    box-shadow:0px 0px 5px 30px white inset;
    transition: all .3s cubic-bezier(.79,.14,.15,.86); 
}
/* hover effect on menu  */
.right_content .menu_itens li:hover {  
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px white inset;    
    font-weight: 700;
}

.right_content .menu_itens span {
    margin-right: 20px;   
}

.active {
    border-radius: 8px !important;
    box-shadow: 0px 0px 0px 0px white inset !important; 
    font-weight: 700;
}

.logo {
    height: auto;
}
.logo img {
    width: 120px;
    margin: 20px 25px;
    position: absolute;
    top: 5%;
}











/* ---------------------------------------------------- */
/* ----- Keyframes for the profile mask animation ----- */
/* ---------------------------------------------------- */
@keyframes clip-rotate {
    to { transform: rotate(360deg); }
}  
@keyframes clip-rotate2 {
    to { transform: rotate(-360deg); }
}  
@keyframes fadein {
   0% {  opacity: 0; } 
   100% {  opacity: 1; }
}
/* ---------------------------------------------------- */
  
  
  
@media only screen and (max-width: 1000px) {

    .left__part {
        padding-right: 0;
        float: none;
    }
    
    .right__part {
        width: 100%;
        height: auto;
    }
    .right_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .right_content .menu_itens li {
        float: right;
        padding: 10px 12px;
        margin: 12px 10px;
        display: flex;
        flex-direction: row;
    }
    .right_content .menu_itens li:nth-child(1) {
        margin-right: 0;
    }
    .right_content .menu_itens li span{
        display: none;
    }

    .logo img {
        margin: 20px auto;
    }

    
}




  
  