@import url(https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap);
:root {
    --primary: #fcda97;
}

body, html {
    font-family: Muli,sans-serif;
}


/* ----------------------------------------------------*/
/* --------------- Menu Itens - Mobile --------------- */
/* ----------------------------------------------------*/
.mobile_menu {
    /* display: flex; */
    justify-content: space-between;
    align-items: first baseline;
    padding: 14.4px 20px 0 20px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.08);
    position: fixed;
    z-index: 100;
    width: 100%;

    display: none;
}

.mobile__menu_itens ul li{
    display: inline-flex;
    list-style-type: none;
    margin: 0 8px;
}
.mobile__menu_itens ul li:nth-child(3){
    margin-right: 0;
}

.mobile__menu_itens ul li a{
    line-height: 0.5;
}

.mobile__menu_itens ul li {
    padding: 7px 9px;
    border-radius: 5px;
}

/* ------ logotipo ------- */

.mobile__logo img {
    height: 15px;
    vertical-align: baseline;
}



/* --- window is 600px or smaller --- */
@media only screen and (max-width: 570px) {
    
    
}